DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pos_beauty?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/pos_beauty?schema=public"
AUTH_SECRET="replace-with-a-long-random-secret"
APP_URL="http://localhost:3000"
NEXT_PUBLIC_RECEIPT_PRINTER_NAME="POS-80"
NEXT_PUBLIC_RECEIPT_ENCODING="Cp437"
NEXT_PUBLIC_RECEIPT_FORCE_RAW="false"
NEXT_PUBLIC_RECEIPT_ENABLE_LOGO="false"
NEXT_PUBLIC_RECEIPT_ENABLE_BARCODE="false"
NEXT_PUBLIC_RECEIPT_LOGO_PATH="/Bls-rm.png"
NEXT_PUBLIC_QZ_TRAY_SCRIPT_SRC="https://cdn.jsdelivr.net/npm/qz-tray@2.2.6/qz-tray.js"
QZ_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----"
